
/* Extra CSS for the context-menu component keyboard states.
 * Copy this into your own code for a similar affect */
[role="menuitem"][data-highlighted] {
    color: #4264FB;
    background-color: #E0E7EB;
}
[role="menuitem"][data-state="open"] {
    color: #4264FB;
    background-color: #F6F8F8;
}
