/* TODO!! This is a temporary file until https://github.com/mapbox/mbx-assembly/pull/62 is in mbx-assembly and deployed */

:root {
  --pink: #F141A8;
  --purple: #A45CE2;
  --red: #EB1414;
  --orange: #DD7A08;
  --yellow: #F3D844;
  --green: #37AD25;
  --blue: #4264FB;
  --gray: #617889;
  --disabled10: rgba(145, 165, 180, .10);
  --disabled25: rgba(145, 165, 180, .25);
  --disabled75: rgba(145, 165, 180, .75);
  --darken25: rgba(14, 33, 39, 0.25);
  --darken50: rgba(14, 33, 39, 0.50);
  --darken75: rgba(14, 33, 39, 0.75);
}


.switch[data-state='checked'] {
    border-color: transparent;
    background-color: #757d82;
}

.switch[data-state='checked']::after {
    left: 50%;
    background-color: #fff;
}

.switch[data-disabled] {
    border-color: transparent;
    background-color: rgba(158,163,167,.25);
    pointer-events: none;
    color: rgba(26,34,36,.25);
}

.switch[data-disabled]::after {
    background-color: rgba(26,34,36,.25);
}
.switch--pink[data-state='checked'] {
  background-color: var(--pink);
}

.switch--dot-pink[data-state='checked']::after {
  background-color: var(--pink);
}

.switch--red[data-state='checked'] {
  background-color: var(--red);
}

.switch--dot-red[data-state='checked']::after {
  background-color: var(--red);
}

.switch--orange[data-state='checked'] {
  background-color: var(--orange);
}

.switch--dot-orange[data-state='checked']::after {
  background-color: var(--orange);
}

.switch--yellow[data-state='checked'] {
  background-color: var(--yellow);
}

.switch--dot-yellow[data-state='checked']::after {
  background-color: var(--yellow);
}

.switch--green[data-state='checked'] {
  background-color: var(--green);
}

.switch--dot-green[data-state='checked']::after {
  background-color: var(--green);
}

.switch--blue[data-state='checked'] {
  background-color: var(--blue);
}

.switch--dot-blue[data-state='checked']::after {
  background-color: var(--blue);
}

.switch--purple[data-state='checked'] {
  background-color: var(--purple);
}

.switch--dot-purple[data-state='checked']::after {
  background-color: var(--purple);
}

.switch--gray[data-state='checked'] {
  background-color: var(--gray);
}

.switch--dot-gray[data-state='checked']::after {
  background-color: var(--gray);
}

.switch--disabled10[data-state='checked'] {
  background-color: var(--disabled10);
}

.switch--dot-disabled10[data-state='checked']::after {
  background-color: var(--disabled10);
}

.switch--disabled25[data-state='checked'] {
  background-color: var(--disabled25);
}

.switch--dot-disabled25[data-state='checked']::after {
  background-color: var(--disabled25);
}

.switch--disabled75[data-state='checked'] {
  background-color: var(--disabled75);
}

.switch--dot-disabled75[data-state='checked']::after {
  background-color: var(--disabled75);
}

.switch--darken25[data-state='checked'] {
  background-color: var(--darken25);
}

.switch--dot-darken25[data-state='checked']::after {
  background-color: var(--darken25);
}

.switch--darken50[data-state='checked'] {
  background-color: var(--darken50);
}

.switch--dot-darken50[data-state='checked']::after {
  background-color: var(--darken50);
}

.switch--darken75[data-state='checked'] {
  background-color: var(--darken75);
}

.switch--dot-darken75[data-state='checked']::after {
  background-color: var(--darken75);
}

[data-assembly-focus-within]:focus-within {
  box-shadow: 0 0 0 3px rgb(137 199 216 / 65%);
}

