{
  "presets": [["env", { "loose": true }], "react"],
  "plugins": [
    "transform-class-properties",
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": false,
      "moduleName": "babel-runtime"
    }]
  ]
}
